<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Timeline</title>


  <!--Style Sheet-->
  <link rel="stylesheet" href="css/Time-Line.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Modak&family=Play:wght@400;700&family=Quicksand:wght@600&family=Viga&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>
  <div class="top">TIME-LINE</div>
  <br><br>
  <% if(eventArr.length!=0) { %>
  <% for (var i=0; i<eventArr.length; i++) { %>
  <% var name = eventArr[i].eventName %>
  <% var club = eventArr[i].clubName %>
  <% var start = eventArr[i].startDate %>
  <% var end = eventArr[i].endDate %>
  <% var description = eventArr[i].description %>
  <% var registrationLink = eventArr[i].registrationLink %>
  <% var status = eventArr[i].status %>
  <% var clashOrNot = eventArr[i].clashing %>
  <% var datestr = {weekday: "long",day: "numeric",month: "long"}; %>
  <% var startday = start.toLocaleDateString("en-US", datestr); %>
  <% var endday = end.toLocaleDateString("en-US", datestr); %>
  <% function formatDate(date) { %>
  <% var hours = date.getHours() %>
  <% var minutes = date.getMinutes() %>
  <% var ampm = hours >= 12 ? 'pm' : 'am' %>
  <% hours = hours % 12 %>
  <% hours = hours ? hours : 12 // the hour '0' should be '12' %>
  <% minutes = minutes < 10 ? '0'+minutes : minutes %>
  <% var strTime = hours + ':' + minutes + ' ' + ampm %>
  <% return strTime %>
  <% } %>
  <% var starttime = formatDate(start) %>
  <% var endtime = formatDate(end) %>



  <div class="event">
    <div class="eventname"><%= name %>
      <%var changeclass= "" %>
      <% if(status=='ongoing'){ %>
      <% changeclass = 'statusGreen'%>
      <%}else{ %>
      <% changeclass = 'statusBlue'%>
      <%} %>
      <div class="<%= changeclass %>"><%= status %></div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-12 clubname">
          Organised by <strong><%= club %></strong>
        </div>
        <div class="col-lg-12">
          Scheduled on <%= startday %>
        </div>

        <div class="col-lg-12">
          Starts at <%= starttime %>
        </div>
        <div class="col-lg-12">
          Will End by <%= endday %> &nbsp <%= endtime %>
        </div>
        <div class="col-lg-12">
          <strong> Description :</strong>
          <div class="class=" col-lg-12"">
            <%= description %>
          </div>
        </div>
        <% if(clashOrNot){ %>
        <div class="col-lg-12" style="color: red">
          <strong> *** Event-clashes </strong>
        </div>
        <%} %>
        <div class="col-lg-12">
          <a class="myButton btn-light" href="<%= registrationLink %>" role="button">Registration Link</a>
        </div>

      </div>
    </div>
  </div>
  <%  } %>
  <% }else{ %>
  <p>no events</p>
  <% } %>

</body>

</html>
